* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.navbar, .green, .orange, .info, ul{
	display: flex;
	justify-content: space-evenly;
}

.navbar{
	background-color: grey;
	height: 60px;
	justify-content: space-between;
	align-items: center;
}

.company{
	color: white;
	font-size: 3em;
	font-variant-caps: all-petite-caps;
	width: 55%;
	display: flex;
	align-items: center;
	margin-left: 4%;
}

ul{
	width: 30%;
	list-style: none;
	color: white;
	align-items: center;
}

.hero{
	font-variant-caps: all-small-caps;
	font-size: 5em;
	font-weight: bold;
	color: rgb(223, 223, 104);
	background-color: #000;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.green {
	height: 300px;
	align-items: center;
	justify-content: space-between;
	margin: 0 6%;
}

.square {
	height: 220px;
	width: 220px;
	background-color: rgb(175, 240, 193);
	border-radius: 20px;
}

.orange {
	height: 240px;
	/* align-items: center; */
	margin: 0 6%;
	justify-content: space-between;
}

.rect{
	height: 220px;
	width: 47%;
	background-color: rgb(245, 190, 86);
}

.info {
	height: 200px;
	align-items: center;
	justify-content: space-evenly;
}

.text {
	width: 350px;
	font-size: 12px;
	padding-right: 30px;
}

img {
	height: 150px;
	width: 230px;
}
